.box1 {
    border-color: green;
    border-style: solid;
    margin: 20px;
    padding: 15px;
}

.box2 {
    border-color: blue;
    border-style: dashed;
    margin: 30px;
    padding: 10px;
}

.box3 {
    border-color: red;
    border-style: double;
    margin: 40px;
    padding: 5px;
}