{% extends 'base.html' %}
{% block title %}{{ event.name }}{% endblock %}
{% block content %}
<div class="event-card">
    <h1>{{ event.name }}</h1>
    <ul>
        <li><strong>Sport: </strong>{{ event.sport }}</li>
        <li><strong>Data: </strong>{{ event.date }}</li>
        <li><strong>Luogo: </strong>{{ event.location }}</li>
        <li><strong>Posti disponibili: </strong>{{ event.available_places }}</li>
    </ul>
    <form action=" /api/book/{{ event.code }}" method="post">
        <button type="submit">Prenota un posto</button>
    </form>
</div>
{% endblock %}