<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>{{ book.title }}</title>
</head>
<body>
    <script>
        async function AddReview() {
            const username = document.getElementById("username").value;
            const text = document.getElementById("text").value;
            await fetch("/api/reviews", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    username: username,
                    book_code: "{{ book.code }}",
                    text: text
                })
            })
                .then(response => {
                if (!response.ok){
                 throw new Error();
                }
                return response.json()
                })
                .then(result => {
                    alert(result.message);
                    if (result.success) {
                        window.location.reload();
                    }
                })
        }
    </script>

    <div>
        <h1>{{ book.title }}</h1>
        <ul>
            <li><strong>Codice: </strong>{{ book.code }}</li>
            <li><strong>Autore: </strong>{{ book.author }}</li>
            <li><strong>Anno di pubblicazione: </strong>{{ book.year }}</li>
            <li><strong>Genere: </strong>{{ book.genre }}</li>
        </ul>

        <h3>Aggiungi una recensione</h3>
        <form onsubmit="AddReview()">
            <label for="username">Username:</label><br>
            <input type="text" name="username" id="username"><br>
            <label for="text">Recensione:</label><br>
            <textarea name="text" id="text" cols="30" rows="10"></textarea><br>
            <button type="submit">Invia!</button>
        </form>
    </div>
    <a href="/">Torna alla lista dei libri</a>
</body>
</html>