body {
    padding-left: 13em;
    background-color:yellowgreen;
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul.navbar {
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.navbar li{
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black;
}

ul.navbar a{
    text-decoration-line: none;
}

a:link{
    color: red;
}

a:visited{
    color: green;
}